* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

/* ========================================================================================
                                    ** top_header **
==========================================================================================*/
.header {
    background-color: rgba(0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.top_header {
    height: 50px;
    /* width: 100%; */
}
.top .icon_head {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
}

.top ul {
    padding-left: 0;
}

.icon_head li {
    margin-right: 19px;
    padding-right: 19px;
    border-right: 1px solid rgba(255, 255, 0255, 0.2);
}

.icon_head i {
    margin-right: 11px;
}

.icons {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
}

.top_login {
    padding-right: 20px;
}

.top_login a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    line-height: 50px;

}
.top_login a:hover
{
    color: #bb8c4b !important;
}
.social_icon i {
    color: rgba(255, 255, 0255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 0255, 0.2) !important;
    border-right: 1px solid rgba(255, 255, 0255, 0.2) !important;
    /* border-bottom: none; */
    /* border-top: none; */
    padding: 19px 20px;
}
.social_icon i:hover
{
    color: white;
}

.head_nav {
    padding: 20px 0px !important;
}

.main_menu>a {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize !important;

}
.nav-link > a
{
    text-decoration: none;
    color: rgba(255, 255, 0255, 0.6);
}

.navbar-nav>a:hover {
    color: rgba(255, 255, 255, 0.6);
}
.nav-link:focus{
    color: initial;
}
.module_icon > a i,
.search > a i
{
    cursor: pointer;
    color: rgba(255, 255, 0255, 0.6);
    margin-right: 25px;
}
.book > a
{
    text-decoration: none;
    color: rgba(255, 255, 0255, 0.6);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 0255, 0.6);
    border-radius: 50px;
    padding: 10px 25px;
    transition: .4s;
}
.book > a:hover
{
    background-color: white;
    color: #333333;
}
@media(max-width:768px) {
       .icon_head li {
        margin-right: 12px;
        padding-right: 12px;
        border-right: 1px solid rgba(255, 255, 0255, 0.2);
    }
    
    .icon_head i {
        margin-right: 8px;
    }
    
    .icons {
        font-size: 14px;
    }
    .social_icon i {
        padding: 19px 15px;
    }
}
/* =================================================================================
                                            ** slider **
===================================================================================*/
.slider {
    margin-bottom: 100px;
}

.image1 img {
    width: 100% !important;
    height: 600px;
    object-fit: cover;
}

.slider_data {
    /* top: 90px; */
    transform: translateY(-220px);
}

.slider_head .slide--headline {
    color: white;
    font-size: 60px !important;
    font-weight: 700;
    margin-bottom: 20px;
}

.slider_txt p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    color: #f9f9f9;
    width: 55%;
    text-align: center;
    margin: auto;
}

.slider_btn>a {
    text-decoration: none;
    margin-left: 15px;
}

.slider_btn .read {
    background-color: white;
    text-align: center;
    color: #444444;
    padding: 12px 30px;
    border-radius: 50px;
    transition: .2s;
}

.slider_btn .read:hover {
    background-color: #bb8c4b;
    color: white;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px !important;
    height: 10px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50%;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}



@media (max-width: 768px) {
    .slider_data {
        transform: translateY(-150px);
    }

    .image1 img {
        width: 100% !important;
        height: 500px;
        object-fit: cover;
    }

    .slider_head .slide--headline {
        font-size: 40px !important;
    }

    .slider_txt p {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .slider_data {
        transform: translateY(-100px);
    }

    .image1 img {
        width: 100% !important;
        height: 500px;
        object-fit: cover;
    }

    .slider_head h3 {
        font-size: 30px !important;
    }

    .slider_txt p {
        width: 100%;
        font-size: 15px;
    }
}

@media(max-width:425px) {
    .slider_head .slide--headline {
        font-size: 30px !important;
        padding-top: 70px !important;
    }
}

/* -----------------------------------------------------------------------------------
                                ** what we do? **
-----------------------------------------------------------------------------------------*/
.what_head {
    text-align: center;
}

.what_head h2 {
    font-family: serif;
    font-size: 36px;
    font-weight: 700 !important;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #444444;
}

.what_head p {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    line-height: 25px;
    width: 50%;
    margin: auto;
}

.head_img img {
    margin-top: 35px;
    height: 10px;
    margin-bottom: 60px;
}
.panel {
    display: flex;
    margin-bottom: 70px;
}

.ser_panel {
    overflow: hidden;
    margin: 0 auto 40px auto;
    text-align: center;
}

.ser_img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.ser_txt h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    margin: 25px 0px;
}

.ser_txt p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 80%;
    text-align: center;
    color: #999999;
    margin: auto;
}



@media (max-width :768px) {
    .ser_img img {
        width: 270px;
        height: 270px;
        border-radius: 50%;
    }

    .what_head p {
        width: 70%;
    }
}

@media (max-width :576px) {
    .ser_img img {
        width: 270px;
        height: 270px;
        border-radius: 50%;
    }

    .ser_txt h3 {
        font-size: 14px !important;
    }

    .what_head p {
        width: 100% !important;
    }
}

/* =================================================================================
                                      ** working hourse **
===================================================================================*/
.working_time {
    background-image: linear-gradient(rgba(27, 25, 25, 0.5), rgba(27, 25, 25, 0.5)), url('./image/work.jpg');
    width: 100%;
    background-attachment: fixed;
    margin-bottom: 100px !important;
}

.work_head {
    padding-top: 80px;
}

.hour_head {
    /* margin-bottom: 80px; */
    text-align: center;
}

.hour_head h2 {
    font-family: serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #fff;
}

.hour_head p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
    width: 50%;
    margin: auto;
}

.hours_planel {
    padding: 25px 0px;
    border: 1px solid #ffff;
    text-align: center;
    transition: .3s;
}
.timee
{
    padding: 0px 0px 90px 0px;
}
.working
{
    margin: 10px 0px !important;
}
.hours_planel:hover {
    transform: translateY(-10px);
}

.hours_planel h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fff;
    text-transform: capitalize;
}

.hours_planel ul {
    padding: 0;
    color: #fff;
}

.hours_planel li {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

@media (max-width : 576px) {
    .hour_head p {
        font-size: 16px;
        width: 100%;
    }
}

/*=================================================================================
                                      ** our pricing **
===================================================================================*/

.our_price {
    margin-bottom: 70px;
}

.our {
    width: 100%;
}

.price_content {
    margin-bottom: 35px;
    position: relative;
    margin-left: 30px;
}

.price_panel h4 {
    color: #222222;
    font-size: 20px;
    font-weight: 700;
    padding-right: 8px;
}

.p_divider {
    border-bottom: 1px dashed #999999;
    flex-grow: 10;
}

.price_panel span {
    font-size: 20px;
    color: #bb8c4b;
    padding-left: 8px;
}

.price_content p {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* =================================================================================
                                    ** client say **
===================================================================================*/
.say {
    background-image: linear-gradient(rgba(27, 25, 25, 0.5), rgba(27, 25, 25, 0.5)), url('./image/client.jpg');
    width: 100%;
    height: 860px;
    background-attachment: fixed;
    margin-bottom: 100px;
}


.t_panels {
    background-color: #fff;
    border-radius: 2px;
    padding: 50px 35px;
    align-items: center;
}

.testi_img img {
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    margin: 0px auto 25px;
}

.testi_desc p {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 28px;
    color: #999999;
}

.t_content h4 {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    font-family: 'Sans Serif Collection';
    font-style: italic;
    text-align: center;
}

@media(max-width:1024px) {
   

    .testi_desc p {
        font-size: 14px;
    }
}

/*===================================================================================
                                    ** our blog posts **
======================================================================================*/

.entry_img img {
    width: 340px;
    height: 260px;
    margin-bottom: 25px !important;
}

.blog_entry {
    margin-bottom: 90px !important;
}

.date {
    font-size: 12px;
}

.date span {
    color: #999999;
    font-weight: 400;
    padding: 1px 7px;
    cursor: pointer;
}

.date span:hover {
    color: #bb8c4b;
}

.entry_desc h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #444444;
    cursor: pointer;
}

.entry_desc h4:hover {
    color: #bb8c4b;
}

.entry_desc .entry_txt {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    width: 90%;
}

.entry_btn>a {
    color: #999999;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

.entry_btn>a:hover {
    color: #bb8c4b;
}

@media(max-width:1024px) {
    .entry_img img {
        width: 293px;
        height: 215px;
        margin-bottom: 25px;
    }
}

@media(min-width:768px) {
    .entry_img img {
        width: 100%;
        height: 480px;
        /* object-fit: cover; */
        margin-bottom: 25px;
    }
}

@media(min-width:425px) {
    .entry_img img {
        width: 100%;
        height: 275px;
        object-fit: cover;
        margin-bottom: 25px;
    }
}

/*=================================================================================
                                      **logo **
===================================================================================*/
.owl_slider {
    background-color: #f8f8f8;
    padding: 65px 0px;
    margin-top: 120px;
}

.item_image img {
    margin: 30px 0px;
    width: 120px !important;
    height: 75px !important;
}

/*=================================================================================
                                      ** footer **
===================================================================================*/
.footer {
    background-color: #252525;
    padding-top: 80px;
    color: #f8f8f8;
}

.work_schedule ul {
    list-style: none;
    padding: 0;
}

.footer1 img {
    width: 99px;
    height: 45px;
    margin-bottom: 30px;
}

.footer1 .footer_desc {
    color: #bdbdbd;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.work_schedule li {
    color: #bdbdbd;
    font-size: 12px;
    margin-bottom: 15px;

}

.work_schedule li span {
    color: white;
}

.footer_title h5 {
    font-family: serif;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.foot_img>a img {
    margin-right: 20px;
}
.entry
{
    margin-bottom: 30px;
}
.ent_txt p {
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    padding-right: 20px;
    margin-bottom: 0;
}

.ent_txt p:hover {
    color: #bb8c4b;
}

.entry_meta span {
    color: #888888;
    font-size: 10px;
}

.location ul {
    list-style: none;
    padding: 0;
}

.location li {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

.location li i {
    color: #bb8c4b;
    font-size: 16px !important;
    padding-right: 15px;
}

.location li p {
    color: #bdbdbd;
}

.form {
    background-color: white;
    border-radius: 42px;
}

.form input {
    padding: 10px 25px;
    background-color: white;
    height: 40px;
    font-size: 13px;
    border-radius: 42px 0px 0px 42px;
    width: 250px;
    border: none;
}

.footer_line {
    margin-top: 80px;
    padding: 26px 0px !important;
    border-top: 1px solid #303030;
}

.bottum_foot span {
    color: #888888;
    font-size: 15px;
}

.foot_social {
    text-align: right;
}

.foot_social>a i {
    color: #888888;
    font-size: 14px;
    margin-left: 20px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                                    ** contact us **
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.title {
    text-align: center !important;
    padding: 220px 0px 140px 0px;
    margin: auto !important;
}

.title_hed h1 {
    font-size: 60px;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

/* =================================================================================
                                    ** get in touch **
===================================================================================*/
.get_head {
    text-align: center !important;
    margin-top: 80px;
}

.get_head h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #444444;
    font-family: serif;
}

.get_img img {
    margin-bottom: 28px;
}

.get_head p {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 45% !important;
    margin: auto;
    padding-bottom: 60px;
}

.form {
    margin-left: 25%;
}

.form_cont {
    color: #aaaaaa !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    height: 40px !important;
    border: 1px solid #e0e0e0 !important;
    margin-bottom: 30px;
    border-radius: 50px !important;
    width: 100% !important;
    margin-left: 24px;
}

.text_area {
    margin-left: 24px;
    padding: 24px;
    border: 1px solid #e0e0e0 !important;
    color: #aaaaaa !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    height: 120px !important;
    width: 100% !important;
    border-radius: 23px !important;
    margin-bottom: 30px;
}

.form_btn {
    margin-bottom: 50px;
}

.form_btn>a {
    text-decoration: none;
    background-color: #222222;
    color: white;
    margin-left: 24px;
    padding: 10px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 13px;
}

@media(max-width:576px) {
    .form {
        margin-left: 0;
    }

    .get_head p {
        width: 100% !important;
    }
}
@media(max-width:425px) {
    .form {
        margin-left: 0;
    }

    .get_head p {
        width: 100% !important;
    }
}

/* =================================================================================
                                    ** google map **
===================================================================================*/

.map {
    background-color: #e8eaed !important;
}

.g_map {
    text-align: center;
    padding: 90px 0px !important;
}

.g_map h4 {
    font-size: 24px;
    color: #3c403c;
    margin-bottom: 18px;
    margin-top: 10px;
}

.g_map p {
    margin: 5px;
    color: #3c403c;
    font-size: 12px !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                                    ** heding **
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.element_img img {
    width: 100% !important;
    height: 470px !important;
    object-fit: cover;
    padding: 0;
    margin: 0;
    position: relative;
    margin-bottom: 100px;
}
.contact_us img 
{
    margin-bottom: 0;
}

.element {
    top: 280px;
    position: absolute !important;
}

.ele_hed {
    text-align: center !important;
    color: white;
    margin: auto !important;
}
.ele_hed h1 {
   font-size: 60px;
   color: white;
}
.clear p
{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 14px;
}

.get_touch {
    background-color: #e8eaed;
    margin-bottom: 130px;
}

.get_head .get_txt {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 45% !important;
    margin: auto;
    padding-bottom: 30px;
}

@media(max-width:425px) {
    .get_head .get_txt {
        color: #999999;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: 100% !important;
        margin: auto;
        padding-bottom: 30px;
    }
}

/* =====================================================================================
                                    ** heading tag **
========================================================================================*/
.h_head 
{
    text-transform: capitalize !important;
    font-weight: 700;
    margin-bottom: 28px;
    color: #444444;
}
.hp_head
{
    font-size: 13.5px;
    color: #999999;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px ;
}
.tag
{
    margin-bottom: 100px;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                                    ** gallery **
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.gallery_img img {
    width: 100% !important;
    height: 470px !important;
    object-fit: cover;
    position: relative;
    margin-bottom: 100px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                                    ** gallery all **
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.listing
{
    margin-bottom: 70px;
}
.listing ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.list_gallery li > a
{
    font-size: 14px;
    font-weight: 400;
    margin-right: 30px;
    text-transform: uppercase;
    color: #999999 !important;
    letter-spacing: 0.30px;
    text-decoration: none;
}
.list_gallery li > a:hover
{
    color: #333333 !important;
}
.list_gallery .active
{
    color: #333 !important;
}

.g_img img {
    width: 95%;
    height: auto;
    object-fit: cover;
    margin-bottom: 35px;
}
.g_all
{
    margin-bottom: 80px;
}

@media(max-width:1024px) {
    .g_img img {
        width: 283px;
        height: 242px;
        object-fit: cover;
        margin-bottom: 35px;
    }
}

@media(max-width:768px) {
    .g_img img {
        width: 100% !important;
        height: 281px;
        object-fit: cover;
        margin-bottom: 35px;
    }
}
@media(max-width:576px) {
    .g_img img {
        width: 100%;
        height: 298px;
        object-fit: cover;
        margin-bottom: 35px;
    }
}

@media(max-width:425px) {
    .g_img img {
        width: 100%;
        height: 298px;
        object-fit: cover;
        margin-bottom: 35px;
    }
}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                                    ** shop **
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.product {
    padding-bottom: 100px;
}

.product_img {
    position: relative;
    margin-bottom: 30px;
}

.product_img img {
    width: 360px;
    height: 415px;
}

.product_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product_action>a {
    position: absolute;
    bottom: 0;
    height: 48px;
    text-align: center !important;
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    line-height: 48px;
    width: 100%;
    text-transform: uppercase;
    visibility: hidden;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.product_action>a:hover {
    background-color: #bb8c4b;
    color: white;
}

.product_hover:hover .product_action>a {
    visibility: visible;
}

.product_content {
    text-align: center;
}

.product_content h3 {
    color: #333333;
    font-size: 18px;
    font-weight: 800;
    font-family: serif;
    margin-bottom: 0;
    cursor: pointer;
}

.product_content h3:hover {
    color: #bb8c4b;
}

.product_content span {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    line-height: 1;
}
.showing
{
    justify-content: space-between;
    margin-bottom: 40px;
}
.s_product h2
{
    font-size: 14px !important;
    font-weight: 400;
    text-transform: capitalize;
    color: #aaaaaa;
    font-family: sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}
.default span
{
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}
.default select
{
    height: 40px;
    width: 230px;
    border: 1px solid #e0e0e0;
    color: #999;
    font-size: 13px;
    font-weight: 400;
    padding-left: 20px;
    border-radius: 50px;
}

@media (max-width:1024px) {
    .product_img img {
        width: 293px;
        height: 337px;
    }
}
@media (max-width:576px) {
    
    .product_img img {
        width: 100%;
        height: 434px;
    }
    }
@media (max-width:425px) {
    
.product_img img {
    width: 100%;
    height: 434px;
}
}